{% extends 'bitly__clone_app/base.html'%}
<title>
        {% block title %}
        Welecome
        {% endblock %}
</title>

{% block content %}

<!--Navigation & Intro-->
<header>
    <!--Mask-->
    <div class="view hm-blue-light">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row" id="home">
                <div class="col-md-10 col-md-offset-2 text-center">
                    <p class="text-white wow fadeInLeft" style="font-size: 50px" data-wow-delay="0.4s">THE LINK KNOWS ALL. SO CAN YOU.</p>
                    <p class="text-white wow fadeInLeft"style="font-size: 20px" data-wow-delay="0.4s">Measure your links with Bitly, the world's leading link management platform.</p>
                      <hr class="hr-light">
                    <a class="btn btn-danger btn-lg wow fadeInRight" data-wow-delay="0.7s" href="{% url 'add new url' %}">Short my URL</a>
                </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container">
    <div style="margin: 40px">
    <h1 class="h1-responsive red-text">Last top 10 urls :</h1>

    </div>
    <!--/.Mask-->
           <table class="table table-success ">
          <thead class="blue white-text ">
            <tr >
              <th class="text-center" >Url</th>
              <th class="text-center" >url shorten</th>
              <th class="text-center" >number of access</th>
            </tr>
          </thead>
          <tbody>
          {% for url in urls_data %}
            <tr>
              <td>
                   <div class="card default-color text-center z-depth-2">
                     <div class="card-block">
                        <a class="white-text"   href="{{ url.user_url }}">{{ url.user_url }}</a>
                     </div>
                   </div>
              </td>
              <td>
                  <div class="card primary-color text-center z-depth-2">
                     <div class="card-block">
                  <a class="white-text" href="http://{{ request.get_host }}{% url 'redirection view' url.url_code %}">{{ request.get_host }}{% url 'redirection view' url.url_code %}</a>
                    </div>
                 </div>
              </td>

                <td>
                    <div class="card danger-color text-center z-depth-2">
                     <div class="card-block white-text">
                       {{ url.nb_access }}
                      </div>
                 </div>
                </td>
            </tr>
          {% empty %}
          <tr>
              no url be the first that create one  <a class="btn btn-success btn-lg " href="{% url 'add new url' %}">Short my URL</a>
          </tr>
          {% endfor %}
          </tbody>
        </table>

         {% if is_paginated %}
    <div class="pagination">
           {% if page_obj.has_previous %}
               <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
           {% endif %}
           Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
           {% if page_obj.has_next %}
              — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
           {% endif %}
    </div>
    {% endif %}

    </div>



</header>
<!--/Navigation & Intro-->

{% endblock %}
