/* YOUR CUSTOM STYLES */
html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #365260;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #365260;
    }
}
/*Intro*/

.view {
    background: url("../img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
    #app-mockup {
        max-height: 400px;
    }
}

.myheader {
    color: #fff!important;
    text-align: center!important;
    margin-top: -50px!important;
    margin-bottom: 3rem!important;
    padding: 1rem!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    -ms-border-radius: 2px!important;
    -o-border-radius: 2px!important;
    border-radius: 2px!important;
}
.theform{
  margin: 100px!important;

}

